@font-face {
    font-family: 'MalaTestaCK';
    src: url('malatestack.woff2') format('woff2'),
        url('malatestack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

