html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: rgb(9, 7, 39);
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}

/* main {
  margin: 3rem 10rem;
  background-color: blue;
} */

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 47rem 1fr 3rem;
  grid-column-gap: 10px;
  grid-row-gap: 7px;
  height: 100vh;
}

a {
  text-decoration: none;
}

.header {
  grid-area: 1 / 1 / 2 / 7;
}

.left-side,
.middle {
  display: relative;
  flex-direction: column;
  justify-content: start;
}

.left-side {
  grid-area: 2 / 1 / 3 / 2;
  z-index: 1;
  /* mix-blend-mode: saturation; */
  isolation: isolate;
  position: relative; /* Allows for absolute positioning within */
}

.caption-inside {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: 9vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.caption-inside2 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: 0.5vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.caption-inside3 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: 18vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}
.caption-inside4 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: -11vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.caption-inside5 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: 2vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.caption-inside6 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: 0.5vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.caption-inside7 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: -1.5vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.caption-inside8 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: -8.3vw;
  height: auto;
  text-align: left;
  font-family: "Eskapade";
  font-style: oblique;
  color: antiquewhite;
}

.image-inside {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: calc(20px - 20vw + 10px);
  height: auto;
}

.image-inside-option2 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  height: auto;
}

.image-inside-option3 {
  position: absolute;
  display: block;
  width: calc(15vw - 10px - 10px);
  margin-left: calc(35px - 20vw + 10px);
  margin-top: calc(20px - 12vw + 10px);
  height: auto;
}

.image-wrapper:nth-child(1) .image-inside {
  left: calc(10%); /* Adjust this value for the first image */
}

.image-wrapper:nth-child(2) .image-inside {
  left: calc(20%); /* Adjust this value for the second image */
}

.footnote-inside {
  position: absolute;
  display: block;
  width: calc(20vw - 30px);
  margin-left: calc(60vw + 10px);
  margin-top: -1.75rem;
  height: auto;
  text-indent: 0;
}

.footnote-inside-option2 {
  position: absolute;
  display: block;
  width: calc(20vw - 30px);
  margin-left: calc(60vw + 10px);
  margin-top: 4rem;
  height: auto;
  text-indent: 0;
}

.footnote-inside-option3 {
  position: absolute;
  display: block;
  width: calc(20vw - 30px);
  margin-left: calc(60vw + 10px);
  margin-top: 1rem;
  height: auto;
  text-indent: 0;
}

.middle {
  grid-area: 2 / 2 / 3 / 5;
  z-index: 3;
  text-align: justify;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* .background-image:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: blur(0px);
} */

.right-side {
  grid-area: 2 / 5 / 3 / 7;
  height: 100%;
  overflow: hidden;
  z-index: 2; /* Lower than middle column */
  /* mix-blend-mode: saturation; */
  isolation: isolate;
  position: relative;
  text-align: center;
}

.right-side-text {
  font-family: "Comic Sans MS";
  font-size: 1rem;
  text-align: left;
  scroll-margin-top: 1rem;
}

#right-side-text-info {
  font-family: "Eskapade";
}

.footer {
  grid-area: 3 / 1 / 4 / 7;
}

.footer-p1 {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  font-family: "Eskapade";
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr; /* Creates four equal-width columns */
  gap: 2rem; /* Optional: Adjusts the gap between columns */
  padding-left: 5rem;
  padding-right: 5rem;
}

.footer-p2 {
  color: antiquewhite;
  font-family: "Eskapade";
  display: grid;
  grid-template-columns: 2.5fr 2fr; /* Creates four equal-width columns */
  gap: 2rem; /* Optional: Adjusts the gap between columns */
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: -40rem;
}

/* moving image */

/* .cucumber {
  display: block;
  position: absolute;
  width: 20rem;
  mix-blend-mode: hard-light;
  z-index: 3;
  overflow: hidden;
} */

h1 {
  font-size: 2rem;
  text-align: center;
  color: antiquewhite;
}



.sleep-archive-text {
  color: white;
  text-align: center;
  font-family: "Comic Sans MS";
  padding-top: 2rem;
  z-index: 5;
  background-color: brown;
}

.dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  left: 0;
  right: 0; /* Adjust these to control the dropdown width */
  background-color: #f9f9f9; /* Example background */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Example shadow for popup effect */
  padding: 12px;
  z-index: 1; /* Ensure it's above other content */
}

.title {
  font-size: 9rem;
  font-family: "MalaTestaCK";
  /* padding-bottom: 2rem; */
  padding-top: 1rem;
}

.span-link{
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits text color from parent, adjust as needed */
  display: flex; /* Makes the link behave like a flex container */
  justify-content: center; /* Center content horizontally */
}


.span-times {
filter: blur(10px);
font-family: 'Comic Sans MS';
cursor: pointer;
text-align: center;
opacity:0.5;

}

.span-times:hover {
  filter: blur(0px);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); 
  text-align: center;
  opacity:1;
  }

.sleep-time-container {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center;
  position: fixed;
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left side of the viewport */
  width: 6rem; /* Or whatever width you prefer */
  height: 100%; /* Make it full height */
  overflow-y: auto; /* Enable scrolling within the container if content overflows */
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(42, 41, 54, 0); /* Light grey background, you can customize it */
  line-height: 0.5rem;
  padding-top: 0.5rem;
  box-sizing: border-box; 
  z-index: 4;
}



.sleep-time-container span {
  margin-bottom: 0.8rem; /* Add some space between each span */
  color: rgb(0, 0, 0); /* Change text color to white for better contrast */
  padding: 0.6rem; /* Add some padding around the text */
  text-align: center;
  box-sizing: border-box;
}

.sidebar-toggle {
  display: none;
  position: fixed; /* So it doesn't scroll with the page */
  top: 4rem; /* Distance from the top of the viewport */
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 100; /* Ensure it's above other content */
  padding: 1rem;
  background-color: #007bff; /* Example background color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}

/* .title:hover {
  font-size: 5rem;
  font-family: "MalaTestaCK";
  padding-bottom: 2rem;
  padding-top: 2rem;
  -webkit-filter: blur(5px);
  filter: blur(5px);
} */

.title-strikethrough {
  position: absolute;
  top: 20%; /* Adjust to vertically center */
  left: 10%; /* Adjust to horizontally center */
  transform: translate(-50%, -50%); /* Center the image */
  max-width: 300%; /* Control the size of the image, adjust as needed */
  max-height: 300%; /* Control the size of the image, adjust as needed */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s, filter 0.3s ease;
  filter: blur(0px); /* Start without blur */
  object-fit: contain; /* Ensure the image isn't stretched */
  z-index: -1;
}

.title-strikethrough2 {
  position: absolute;
  top: 50%; /* Adjust to vertically center */
  left: 90%; /* Adjust to horizontally center */
  transform: translate(-50%, -50%); /* Center the image */
  max-width: 500%; /* Control the size of the image, adjust as needed */
  max-height: 500%; /* Control the size of the image, adjust as needed */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s, filter 0.3s ease;
  filter: blur(0px); /* Start without blur */
  object-fit: contain; /* Ensure the image isn't stretched */
  z-index: -1;
}

.title-container {
  position: relative;
}

.title-container:hover .title-strikethrough {
  opacity: 1;
  visibility: visible;
  filter: blur(5px); /* Apply blur on hover if desired */
  transition-delay: 0s;
}

.title-container:hover .title-strikethrough2 {
  opacity: 1;
  visibility: visible;
  filter: blur(5px); /* Apply blur on hover if desired */
  transition-delay: 0s;
}

/* .blur-on-hover {
  transition: filter 0.3s ease;
} */

/* Hover state: blur specific words */
/* .research-question-container:hover .blur-on-hover {
  filter: blur(4px); 
} */

.hover-text-research-question {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  font-family: inherit;
}

.research-question-container:hover .hover-text-research-question {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.author-name {
  text-align: center;
  font-family: "Comic Sans MS";
  padding-top: 3rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: antiquewhite;
}

.table-of-contents {
  text-align: center;
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-family: "eskapade", serif;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  padding-top: 5rem;
  color: antiquewhite;
}

h2.research-question {
  margin: 0 20%;
  text-align: center;
  padding-top: 0rem;
  padding-bottom: 2rem;
  font-family: "eskapade", serif;
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
  text-decoration: none;
  font-size: 2.5rem;
}

.section-titles {
  font-weight: 300;
  text-decoration-line: underline;
  text-align: left;
}

.research-question-container {
  position: relative;
}

#abstract {
  padding-top: 5rem;
}

#section-1 {
  background-image: url("assets/images/drawn-drawings/bigger-dots.png");
}

#acknowledgements {
  text-align: right;
}

/* figure{
    size: 10em;
    align-items: center;
} */

/* .karl-marx{
    width: "100%";
    height:auto;
} */

figcaption {
  color: lightgray;
}

blockquote {
  margin: 1rem 25%;
}

#note1 {
  color: brown;
  scroll-margin-top: 50vh;
}

/* .non-productivity {
    display: inline;
    color: pink;
} */

/* .clouds {
    mix-blend-mode: overlay;
    display: block;
    position: fixed;
} */

/* .img.clouds {
    mix-blend-mode: overlay;
    display: block;
    position: absolute;
} */

p {
  font-size: 1.4rem;
  font-family: "eskapade", serif;
  font-weight: 400;
  font-style: normal;
  /* z-index: 0; */
  color: antiquewhite;
}

/* Apply text indent only to the first paragraph of each section */
section > p:first-of-type {
  text-indent: 3rem;
}

/* If you still want to apply specific styles to paragraphs inside main */
main > p {
  text-indent: 0rem;
  /* Other styles if needed */
}

/* div:first-letter {
    padding: 2px 5px;
    background: #174D95;
    font-family: Arial;
    color: #fff;
    font-weight: bold;
    margin-right: 2px;
} */

.sidenote-link {
  text-decoration: none;
  color: inherit;
  filter: blur(4px);
}

.sidenote-link:hover {
  text-decoration: none;
  filter: blur(0px);
  transition: transform 0.5s ease;
}

#im-maya-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#nonsense-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#envelopes-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#thoughts-and-feelings-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#billy-longclaws-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#beautiful-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#analyse-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#bunny-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#nature-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#shrink-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#bomb-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#singing-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#omg-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#what-sleeptalk {
  scroll-margin-top: 1.5rem;
}

#zubazuba-sleeptalk {
  scroll-margin-top: 1.5rem;
}
.image-wrapper {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden; /* Prevents the enlarged image from overflowing */
  position: relative; /* For positioning the image absolutely within the wrapper */
}

.footnote-ref img {
  width: 100%;
  transition: transform 0.3s ease; /* Smooth transition for transform */
  transform-origin: center; /* Ensures scaling is centered */
}

.footnote-ref:hover img {
  transform: scale(3.3); /* Adjust the scale factor as needed */
  mix-blend-mode: darken;
}

.bunny-image {
  position: relative;
}

.tools-title {
  padding-top: 0rem;
}

/* this is for smaller sizes */

@media (max-width: 800px) {
  /* .grid-container {
    grid-template-columns: 1fr; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  } */
  body {
    overflow-x: hidden;
  }

    .gradient-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(to bottom, rgba(9, 7, 39,1) 0%, rgba(9, 7, 39,0) 25%);
      pointer-events: none; /* Allows clicks to pass through */
      z-index: 4; /* High z-index to ensure it's above other content */
    }

    .gradient-overlay-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(to top, rgba(9, 7, 39,1) 0%, rgba(9, 7, 39,0) 25%);
      pointer-events: none; /* Allows clicks to pass through */
      z-index: 4; /* High z-index to ensure it's above other content */
    }

  .parent {
    display: grid;
    grid-template-columns: 0.5rem 1fr 0.5rem;
    grid-template-rows: 35rem 1fr 3rem;
    grid-column-gap: 10px;
    grid-row-gap: 7px;
    height: 100vh;
    margin-left: 6rem;
  }

  .caption-inside {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .caption-inside2 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .caption-inside3 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }
  .caption-inside4 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .caption-inside5 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .caption-inside6 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .caption-inside7 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .caption-inside8 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */
  }

  .image-inside {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */

  }

  .image-inside-option2 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */

  }

  .image-inside-option3 {
    position: relative;
    display: block;
    width: 30vw; /* You may consider using max-width for better control */
    max-width: 70vw; /* Example max-width, adjust as needed */
    height: auto;
    margin-left: auto; /* Center align the images */
    margin-right: auto; /* Center align the images */
    margin-top: 1rem; /* Add space on the top of the image */
    margin-bottom: 1rem; /* Add space on the bottom of the image */

  }

  .header {
    grid-area: 1 / 1 / 2 / 7;
    z-index: 6;
  }

  h2.research-question {
    margin: 0 10%;
    text-align: left;
    padding-top: 0rem;
    font-family: "eskapade", serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .left-side,
  .right-side {
    order: 2; /* Moves these items below the middle item */
  }
  .middle {
    order: 1; /* Ensures this content is at the top */
  }

  .title {
    order: 1;
    font-size: 4rem;
    padding-top: 1rem;
    margin-right: 2rem;
  }
/* 
  .title-container .title-strikethrough {
    opacity: 1;
    visibility: visible;
    filter: blur(3px);
    transition: none;
    top: 60%;
  } */

  .title-container .title-strikethrough2 {
    opacity: 1;
    visibility: visible;
    filter: blur(3px); /* Adjust if you want the blur effect on small screens */
    transition: none; /* Optional: remove transition effect on small screens */
  }

  .title-strikethrough2{
    transform: translate(0px, 43px);
  }

  .section-titles {
    font-weight: 300;
    text-decoration-line: underline;
    font-size: 2rem;
  }

  #abstract {
    padding-top: 20rem;
  }

  .left-side {
    grid-area: 2 / 1 / 3 / 2;
    z-index: 1;
    isolation: isolate;
    position: relative; /* Allows for absolute positioning within */
  }

  .middle {
    grid-area: 2 / 2 / 3 / 5;
    z-index: 3;
    text-align: justify;
  }

  .right-side {
    grid-area: 2 / 5 / 3 / 7;
    height: 100%;
    overflow: hidden;
    z-index: 2; /* Lower than middle column */
    /* mix-blend-mode: saturation; */
    isolation: isolate;
    position: relative;
    text-align: center;
  }

  .h2 {
    padding-top: 1rem;
  }

  /* .cucumber {
    display: block;
    position: absolute;
    width: 10rem;
    mix-blend-mode: hard-light;
    z-index: 3;
  } */

  p {
    font-size: 0.8rem; /* Smaller font size for paragraphs */
  }

  h1 {
    font-size: 1rem;
  }

  .footnote-ref img.image-footnotes {
    width: 0.5rem; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle;
  }

  .image-wrapper {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    overflow: hidden; /* Prevents the enlarged image from overflowing */
    position: relative; /* For positioning the image absolutely within the wrapper */
  }

  .footnote-ref img {
    width: 100%;
    transition: transform 0.3s ease; /* Smooth transition for transform */
    transform-origin: center; /* Ensures scaling is centered */
  }

  .footnote-ref:hover img {
    transform: scale(2.2); /* Adjust the scale factor as needed */
    mix-blend-mode: darken;
  }

  .footnote-inside {
    position: relative; /* Adjusted to maintain document flow */
    width: 70vw;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
  }

  .footnote-inside-option2 {
    position: relative; /* Adjusted to maintain document flow */
    width: 70vw;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
  }

  .footer {
    display: block;
  }

  .footer-p1 {
    color: antiquewhite;
    font-family: "Eskapade";
    display: block;
    gap: 2rem; /* Optional: Adjusts the gap between columns */
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .sleep-time-container {
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center;
    position: fixed;
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left side of the viewport */
    width: 6rem; /* Or whatever width you prefer */
    height: 100%; /* Make it full height */
    overflow-y: auto; /* Enable scrolling within the container if content overflows */
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(42, 41, 54, 0); /* Light grey background, you can customize it */
    line-height: 0.7rem;
    padding-top: 3rem;
    box-sizing: border-box; 
    z-index: 4;
  }
}
