@font-face {
    font-family: 'a e i o u';
    src: url('aeiou.woff2') format('woff2'),
        url('aeiou.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

